if SHIELD_BOARD1_LEFT

config ZMK_KEYBOARD_NAME
    default "board1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_BOARD1_LEFT

if SHIELD_BOARD1_LEFT || SHIELD_BOARD1_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_BOARD1_LEFT || SHIELD_BOARD1_RIGHT
